@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100vw;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    background-color: darkred;
    color: white;
}

a:hover {
    background-color: red;
    text-decoration: underline;
}